.places {
	margin-top: 20px;
}

.places h1 {
	font-size: 30px;
	text-align: left;
}

.places articles {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
}

.places h2 {
	font-size: 30px;
	text-align: center;
}

.price_by_night {
	color: #FF5A5F;
	border: 4px solid #FF5A5F;
	min-width: 60px;
	height: 60px;
	font-size: 30px;
	text-align: right;
	padding: 10px;
	margin-top: -80px;
	margin-right: 20px;
}

.max_guest, .number_rooms, .number_bathrooms, .user {
	width: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.icon {
	background: ulr("../images/icon.png");
}

.text {
	font-weight: bold;
}

.user {
	font-weight: bold;
}

.description {

}
